<div class="stage1">
  <div class="left">
    <div class="email">
      EVENT@SUITSHOP
    </div>
    <div class="stage1-title">
      Coordinate your wedding party online.
    </div>
    <div class="stage1-description">
      Getting everyone suited up has never been easier. Our suits and tuxedos are here to make your journey from just
      engaged to just married simple and stylish.
    </div>

    <div class="action-wrap">
      <button class="btn-started">GET STARTED</button>
      <div class="login-direct">Have an account? Log in.</div>
    </div>

  </div>
  <div class="right">
    <img src="assets/images/groups-intro-image.png" alt="">
  </div>
</div>

<div class="stage1-category-wrapper">

  <ul class="stage1-category-detail">
    <img src="assets/icons/market.png" alt="" style="height: 30px">
    <li class="stage1-category-title">Build Your Look(s)</li>
    <li class="stage1-category-des">Add items to create unique looks for everyone in the party, or choose one outfit
      that everyone can rock together.
    </li>
  </ul>


  <ul class="stage1-category-detail">
    <img src="assets/icons/user.png" alt="" style="height: 30px">
    <li class="stage1-category-title">Add Group Members</li>
    <li class="stage1-category-des">Add attendants and assign them a customized look. We'll track their orders and keep
      you updated.
    </li>
  </ul>

  <ul class="stage1-category-detail">
    <img src="assets/icons/envelope.png" alt="" style="height: 30px">
    <li class="stage1-category-title">Send an Introduction</li>
    <li class="stage1-category-des">Send an introduction email to start the process. We'll create a reminder schedule
      based on your wedding date.
    </li>
  </ul>


  <ul class="stage1-category-detail">
    <img src="assets/icons/birthday-cake.png" alt="" style="height: 30px">
    <li class="stage1-category-title">Relax & Celebrate</li>
    <li class="stage1-category-des">We'll remind your group to order with easy-to-use, one-click links. Congrats, your
      work here is done!
    </li>
  </ul>
</div>

<div class="stage2"></div>

<div class="stage2-content text-center">
  <div class="stage2-title">We take suiting stress out of the picture.</div>
  <div class="stage2-description">
    SuitShop coordinates orders for all your party people, so you and your fiancé(e) don't have to chase anyone down to
    make sure they're ready for your big day.

    You get a personalized dashboard to create wedding day looks, place orders, and monitor order status for your party
    members; we send out helpful reminders and make sure everyone has what they need to get you hitched without a hitch.
  </div>
</div>

<div class="stage3">


  <div class="right">
    <div class="comment-title">
      <img src="assets/images/cta-groups.jpg" alt="">
    </div>
  </div>
  <div class="left">
    <div class="letter-wrapper">
      <div class="letter-title">
        The easiest way to suit your wedding.
      </div>

      <div class="letter-content">
        Getting married? Get formal. We've got something for all wedding party suitors — groomsmen, brides men, ring
        bearers, parents of the marriers, and anyone else that feels best in a suit.  <span>SuitShop is designed for whoever's
        in your wedding group.</span><br><br>

        There are endless ways to suit up for the big “I do.” Between our range of classic and contemporary styles and
        colors, added accessories, and your overall color scheme, we can create something perfect for you.
      </div>
      <button class="btn-started">CREATE A GROUP</button>
    </div>

  </div>
</div>
