<div class="showroom-header">
  <div class="mask">
    <div class="showroom-title">
      SuitStore in the <br> Showroom
    </div>

    <div class="showroom-description">An environment fit for all to find the perfect fit for you. Better than a rental,
      we help you own your style. Try on a suiting experience like never before: relaxed and fun, like a visit to your
      liveliest, trendiest friend's place. Appointments are always free; welcome to the party.
    </div>
    <div class="showroom-btn">
      <button type="submit">BOOK APPOINTMENT</button>
    </div>
  </div>
</div>

<div class="benefit-category">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="icon"><img src="assets/icons/measuring-tape.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Style with <span>Experts</span>, Free
        </div>
        <div class="benefit-description">
          Always free of charge, work with our expert stylists to determine your idea look: nail down suit color,
          complementary ties, shoes, and everything to complete your style.
        </div>
      </div>


      <div class="col">
        <div class="icon"><img src="assets/icons/suit.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Score Your <span>Perfect Fit</span>
        </div>
        <div class="benefit-description">
          Our simple suit fittings process is stress-free and gets you your best size. We'll choose great options, and
          you get unlimited try-ons to ensure a like-custom fit.
        </div>
      </div>
      <div class="col">
        <div class="icon"><img src="assets/icons/champagne-glass.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Bring Your <span>Party People</span>
        </div>
        <div class="benefit-description">
          Coming to a suit shop for a wedding? Make the fitting a celebration, whether it's on your own, with a loved
          one, for your whole party. We have an appointment type to suit you.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="appointment-type">
  <div class="content-wrap">
    <div class="sub-title">OPTIONS TO SUIT YOUR NEEDS</div>
    <div class="main-title">Appointment Types</div>
    <div class="description">Book an appointment that caters to your specific suit-uation to get the most out of your
      experience fitting in-person at a suit store. Local showrooms offer specialized appointment types within these
      categories, so find what fits at the SuitShop near you.
    </div>
  </div>


  <div class="appointment-type-card" style="padding: 0px 30px 0px 40px">
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col">
          <div class="card" style="width: 28rem; border-radius: 0px; border: none">
            <img src="assets/images/single-fitting-appointment-type.jpg" class="card-img-top" alt="..."
                 style="padding: 20px">
            <div class="card-body">
              <h5 class="card-title" style="margin: 10px 0px">Individual Fitting</h5>
              <p class="card-text" style="margin: 25px 0px">Heading into the showroom on your own? A quick suit fitting
                or styling appointment makes
                suit shopping a snap, whether you're looking for an event or personal style. <br><br>
                Ideal time out from event date: 3 months-6 weeks</p>
              <button href="#" class="btn-book">BOOK APPOINTMENT</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 28rem; border-radius: 0px; border: none; height: 39.75rem">
            <img src="assets/images/engaged-appointment-type.jpg" class="card-img-top" alt="..."
                 style="padding: 20px">
            <div class="card-body">
              <h5 class="card-title" style="margin: 10px 0px">Engaged Couple Consultation</h5>
              <p class="card-text" style="margin: 25px 0px">Wedding planning? Bring your fiancé to see colors and styles
                and try on sizes and accessories. We'll walk you through next steps and find your perfect wedding suits.
                <br><br>
                Ideal time out from event date: 5-6 Months</p>
              <button href="#" class="btn-book" style="margin-top: 24px">BOOK APPOINTMENT</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 28rem; border-radius: 0px; border: none">
            <img src="assets/images/group-fitting-appointment-type.jpg" class="card-img-top" alt="..."
                 style="padding: 20px">
            <div class="card-body">
              <h5 class="card-title" style="margin: 10px 0px">Group Fittings</h5>
              <p class="card-text" style="margin: 25px 0px">Get the party started! Bring your loved ones or wedding
                party for wedding suit fittings as a group. Wedding dress shopping has nothing on us: get your fit and
                make it fun! <br><br>
                Ideal time out from event date: 3 months-6 weeks</p>
              <button href="#" class="btn-book">BOOK APPOINTMENT</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="timeline-section">
  <div class="left">
    <div class="subtitle">THE TIMELINE</div>
    <div class="main-title">Just fashionable, never late. You get your suit on time every time.</div>

    <div class="divider"></div>

    <div class="list-group">
      <ul>
        <li class="list-item"> 1. Book a suit fitting</li>
        <li class="list-item"> 2. Get your order shipped direct to you</li>
        <li class="list-item"> 3. Have Men's Cut pants hemmed</li>
        <li class="list-item"> 4. Suit up!</li>
      </ul>
    </div>

  </div>
  <div class="right">
    <img src="assets/images/suitshop-box.jpg" alt="">
  </div>

</div>

<div class="showroom-location">
  <div class="title">Showroom Locations and Virtual</div>

  <div class="container card-wrapper">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="assets/images/boston-card.jpg" class="card-img-top" alt="...">
          <div class="card-content">
            <h3 class="card-title">Atlanta</h3>
            <p class="card-text">1115 Howell Mill Rd, Atlanta, GA 30318</p>
            <button href="#" class="btn-book">BOOK APPOINTMENT</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="assets/images/chicago-card.jpg" class="card-img-top" alt="...">
          <div class="card-content">
            <h3 class="card-title">Chicago</h3>
            <p class="card-text">1820 W Webster Ave Suite 410, Chicago, IL 60614</p>
            <button href="#" class="btn-book">BOOK APPOINTMENT</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="assets/images/philly-card.jpg" class="card-img-top" alt="...">
          <div class="card-content">
            <h3 class="card-title">Philadelphia</h3>
            <p class="card-text">35 N 2nd St, Philadelphia, PA 19106</p>
            <button href="#" class="btn-book">BOOK APPOINTMENT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
