<div class="container-fluid footer-wrapper">
  <div class="footer-category">SUITSHOP
    <div class="footer-link-icon">
      <div class="footer-icon"><fa-icon [icon]="facebookIcon"></fa-icon></div>
      <div class="footer-icon"><fa-icon [icon]="pinterestIcon"></fa-icon></div>
      <div class="footer-icon"><fa-icon [icon]="instagramIcon"></fa-icon></div>

      <div class="footer-icon">
        <fa-icon [icon]="twittericon"></fa-icon>
      </div>

    </div>
  </div>
  <div class="footer-category">Customer Service

    <div class="footer-link">Returns & Exchanges</div>
    <div class="footer-link">My Account</div>
    <div class="footer-link">Sizing Help</div>
    <div class="footer-link">Store Location</div>
    <div class="footer-link">Help Center</div>
  </div>
  <div class="footer-category">Company
    <div class="footer-link">About Us</div>
    <div class="footer-link">SuitShop Insiders</div>
    <div class="footer-link">How Its Works</div>
    <div class="footer-link">New & Events</div>
    <div class="footer-link">Sustainability</div>
    <div class="footer-link">Careers</div>
  </div>
  <div class="footer-category">Contact Us
    <div class="footer-link">Contact Us</div>
    <div class="footer-link">+1 (773) 303-6006</div>
    <div class="footer-link">info@suitshop.com</div>
  </div>
  <div class="footer-category">Legal
    <div class="footer-link">Terms of Service</div>
    <div class="footer-link">Privacy Policy</div>
    <div class="footer-link">Privacy Preferences</div>
  </div>

  <div class="vertical-divider"></div>

  <div class="footer-search">Add your email
    <div class="footer-link">Sign up to received exclusive SuitShop news, updates, deals, and more</div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter email address" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
    </div>

  </div>
</div>
