<div class="container-fluid noti-nav">
  <div class="main-noti-nav">
    Wardrobe refresh: Get 35% Off!
  </div>

  <div class="sub-noti-nav">
    <ul class="sub-nav-links">
      <li class="sub-link">
        <fa-icon [icon]="searchIcon"></fa-icon>
      </li>
      <div class="divider"></div>
      <li class="sub-link">Location</li>
      <div class="divider"></div>
      <li class="sub-link">
        <fa-icon [icon]="infoIcon"></fa-icon>
        Help
      </li>
    </ul>
  </div>
</div>


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid nav-wrapper">
    <div class="navbar-brand" href="#"><span>SUIT</span>SHOP</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="nav nav-center">
        <li class="nav-item dropdown">
          <div class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </div>

        <li class="nav-item dropdown">
          <div class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Wedding & Events
          </div>
        </li>


        <li class="nav-item dropdown dropdown-get-started">
          <div class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Get Started
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Fit Guide</a>
        </li>

        <li class="nav-item dropdown">
          <div class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resource
          </div>
        </li>
      </ul>

    </div>
    <ul class="nav nav-left justify-content-end">
      <li class="nav-item">
        <button class="nav-link nav-btn " href="#">Suit a group</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="userIcon"></fa-icon>
          Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="shoppingCart"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
