<div class="fit-guide-header">
  <div class="mask"></div>
  <div class="content">
    <div class="fit-guide-header-subtitle">SUIT YOURSELF</div>
    <div class="fit-guide-header-main-title">The Fit Guide</div>
    <div class="fit-guide-header-description">Simple Solutions to Find Your Suit Size</div>
  </div>
</div>

<div class="category-section">
  <div class="category">
    FIT TOOLS
  </div>

  <div class="category">
    FIT TYPES
  </div>

  <div class="category">
    FIT COMPARISON
  </div>

  <div class="category">
    FAQS
  </div>
</div>

<div class="size-up-section">
  <div class="size-up-main-title">
    Size us up: we're made to fit your shape, fit your style, and fit your life.
  </div>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="icon"><img src="assets/icons/people.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Fit For All
        </div>
        <div class="benefit-description">
          Men's, women's, unisex, and kid's fit options allow you to find a like-custom fit for a fraction of the price
        </div>
      </div>


      <div class="col">
        <div class="icon"><img src="assets/icons/time.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Sized in Minutes
        </div>
        <div class="benefit-description">
          With or without measurements, sizing is easy. in just a few simple clicks, find your fit from wherever
        </div>
      </div>
      <div class="col">
        <div class="icon"><img src="assets/icons/puzzle.png" alt="" style="height: 60px"></div>
        <div class="benefit-title">
          Mix & Match
        </div>
        <div class="benefit-description">
          Sold as separates to build your personalized sizing & fit combinations -no pre-packaged sets here
        </div>
      </div>
    </div>
  </div>

</div>

<div class="tool-section">
  <div class="content">
    <div class="subtitle">
      TOOLS OF THE TRADES
    </div>
    <div class="maintitle">
      To Find Your SuitShop Size
    </div>
    <div class="description">
      Don't know your size? No sweat. With two simplified ways to find your fit, you can skip the suit fitting
      appointment and get sized & suited from home.
    </div>

    <div class="benefit-tool">
      <div class="benefit"><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;"> 5
        minutes or less
      </div>
      <div class="benefit"><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;"> Created
        by tech & sizing experts
      </div>
      <div class="benefit"><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;">
        Effortless process
      </div>
    </div>
  </div>

  <div class="smart-quiz-section-wrapper">
    <div class="smart-quiz-section">
      <div class="left">
        <div class="title">
          Calculate with a Smart Quiz
        </div>
        <ul class="content">
          <li><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;">Data-backed <span>Fit Finder</span>
            is quick and easy to complete wherever and whenever, no measurements required
          </li>
          <li><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;"><span>Answer simple questions</span>
            about age, height, weight, and typical clothing sizes is quick and easy to complete wherever and whenever,
            no
            measurements required
          </li>
          <li><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;">Get <span>size
          recommendations</span> in about 1 minute or less
          </li>
          <li><img src="assets/icons/checked.png" alt=""
                   style="height: 20px; margin-right: 10px;"><span>Perfect for</span> anyone who
            wants accurate recommendations from an uncomplicated, hands-off process
          </li>
        </ul>

        <div class="action-wrap">
          <button class="btn-started">TAKE THE FIT FINDER</button>
          <div class="login-direct">More Info.</div>
        </div>
      </div>
      <div class="right">
        <img src="assets/images/smart-quiz.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="smart-quiz-section-wrapper">
    <div class="smart-quiz-section">
      <div class="right">
        <img src="assets/images/size-charts.jpg" alt="">
      </div>
      <div class="left">
        <div class="title">
          Consult the Size Charts
        </div>
        <ul class="content">
          <li><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;">Simple, <span>streamlined
            charts</span> include only the key details needed to determine your size, no confusing extras
          </li>
          <li><img src="assets/icons/checked.png" alt="" style="height: 20px; margin-right: 10px;"><span>Easily compare sizes</span>
            against each other and your body measurements
          </li>
          <li><img src="assets/icons/checked.png" alt=""
                   style="height: 20px; margin-right: 10px;"><span>Measurements</span> for all
            sizes and Fit Types are available to help you find your fit
          </li>
          <li><img src="assets/icons/checked.png" alt=""
                   style="height: 20px; margin-right: 10px;"><span>Perfect for</span> anyone who has measurements and wants to get into the nitty-gritty detail
          </li>
        </ul>

        <div class="action-wrap">
          <button class="btn-started">TAKE ME TO THE CHARTS</button>
          <div class="login-direct">More Info.</div>
        </div>
      </div>

    </div>
  </div>
</div>



