<div class=" home-wrapper">
  <div class="stage1-wrapper container-fluid">
    <section class="stage1">
      <div class="left">
        <div class="stage1-title">Style that suits you</div>
        <div class="stage1-description">Yours to own, from your wedding day to every day. <br> Starting under $200</div>
        <div class="stage1-choose">
          <ul class="stage1-choose-list">
            <li class="stage1-choose-link">SHOP MEN</li>
            <li class="stage1-choose-link">SHOP WOMEN</li>
            <li class="stage1-choose-link">SHOP EVERYBODY</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <img src="assets/images/stage1-img2.jpg" alt="">
      </div>
    </section>

    <div class="stage1-category-wrapper">

      <ul class="stage1-category-detail">
        <img src="assets/icons/fast-delivery.png" alt="" style="height: 30px">
        <li class="stage1-category-title">Ready to Ship, Free</li>
        <li class="stage1-category-des">Fast + free shipping, returns, + exchanges made easy</li>
      </ul>


      <ul class="stage1-category-detail">
        <img src="assets/icons/box.png" alt="" style="height: 30px">
        <li class="stage1-category-title">Ownership at Rental Prices</li>
        <li class="stage1-category-des">Starting at just $199, get brand new, quality suits to keep</li>
      </ul>

      <ul class="stage1-category-detail">
        <img src="assets/icons/champagne-glass.png" alt="" style="height: 30px">
        <li class="stage1-category-title">Well-Suited for Groups</li>
        <li class="stage1-category-des">Weddings + event groups get organization + attention</li>
      </ul>


      <ul class="stage1-category-detail">
        <img src="assets/icons/measuring-tape.png" alt="" style="height: 30px">
        <li class="stage1-category-title">Sizing Made Simple</li>
        <li class="stage1-category-des">Broad size range, easy fit tools, no measurements required</li>
      </ul>
    </div>
  </div>

  <div class="stage2-wrapper container-fluid">
    <div class="stage2-type-above">
      <div class="stage2-type-left">
        <img src="assets/images/spotlight-collection-mens-2.jpg" alt="">
        <div class="content">Men's Suits & Tuxedos</div>
        <div class="content-link">SHOP NOW</div>
      </div>
      <div class="stage2-type-right">
        <img src="assets/images/spotlight-collection-womens.jpg" alt="">
        <div class="content">Women's Suits & Tuxedos</div>
        <div class="content-link">SHOP NOW</div>
      </div>
    </div>

    <div class="stage2-type-above">
      <div class="stage2-type-left">
        <img src="assets/images/spotlight-collection-essentials.jpg" alt="">
        <div class="content">Suiting Essentials</div>
        <div class="content-link">SHOP NOW</div>
      </div>
      <div class="stage2-type-right">
        <img src="assets/images/spotlight-collection-prom.jpg" alt="">
        <div class="content">Prom & Homecoming</div>
        <div class="content-link">SHOP NOW</div>
      </div>
    </div>
  </div>

  <div class="stage3-wrapper container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/group-cta.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/fit-cta.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/swatch-cta.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/trial-cta.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="stage3-content-wrapper">
      <ul>
        <li>
          <div class="content-title">Suit the whole group.</div>
        </li>
        <li>
          <div class="content-des">Manage your wedding party 100% online. get perfectly matching wedding attire and
            simple organization from
            home. Planning your wedding just got so much easier.
          </div>
        </li>
        <li>
          <div class="btn-wrapper">
            <button class="btn-create-group" type="submit">CREATE A GROUP</button>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <div class="stage4-wrapper container-fluid">

      <div class="stage4-content">
        <div class="btn-wrapper"><button type="submit">Find your look</button></div>
        <span>Street-stopping:</span> <br>
        Tan takes noteworthy <br> neutrals in stride
      </div>
  </div>


  <div class="stage5-wrapper container-fluid">
    <div class="stage5-title">-- LET US LEAD YOU IN THE SUIT WORLD --</div>
  </div>
</div>
