<div class=" home-wrapper">
  <div class="stage1-wrapper container-fluid">
    <section class="stage1">
      <div class="left">
        <div class="stage1-title">Style that suits you</div>
        <div class="stage1-description">Yours to own, from your wedding day to every day. <br> Starting under $200</div>
        <div class="stage1-choose">
          <ul class="stage1-choose-list">
            <li class="stage1-choose-link">SHOP MEN</li>
            <li class="stage1-choose-link">SHOP WOMEN</li>
            <li class="stage1-choose-link">SHOP EVERYBODY</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <img src="assets/images/stage1-img2.jpg" alt="">
      </div>
    </section>
  </div>
</div>
