.stage1-wrapper{
  width: 100%;
  height: 1000px;
  background-color: rgba(207, 202, 196, 0.4);
}

.stage1{
  display: flex;
  margin-top: 10px;
  height:700px;

}

.left, .right{
  width: 50%;
}

.right{
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.left{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
  .stage1-title{
    font-size: 55px;
    margin: 30px 30px;
  }

  .stage1-description{
    margin: 10px 30px;
    font-size: 20px;
    font-weight: 500;
  }

  .stage1-choose-list{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    .stage1-choose-link{
      list-style: none;
      margin-right: 60px;

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.stage1-category-wrapper{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  font-family: 'Mukta', sans-serif;
  .stage1-category-detail{
    width: 350px;
    margin: 20px;
  li{
    list-style: none;
  }

    .stage1-category-title{
      font-size: 23px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 8px;
      font-family: 'Playfair Display', serif;
    }
  }
}

.stage2-wrapper{
  margin-top:50px ;
  padding: 0px 50px;
  .stage2-type-above{
    display: flex;
    justify-content: center;

    .stage2-type-right{
      width: 50%;
      margin: 10px;
      position: relative;
      height: 600px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content{
        position: absolute;
        top: 380px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 400px; /* Need a specific value to work */
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: white;
        text-align: center;
      }

      .content-link{
        color: white;
        position: absolute;
        top: 450px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px; /* Need a specific value to work */
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
        font-weight: 300;
        cursor: pointer;
        border-bottom: white 1px solid;
        text-align: center;
        &:hover{
          transition: ease-in-out 0.3s;
          color: black;
          border-bottom: black 1px solid;
          padding-bottom: 10px;

        }
      }
    }

    .stage2-type-left{
      position: relative;
      margin: 10px;
      width: 50%;
      height: 600px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content{
        position: absolute;
        top: 380px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 400px; /* Need a specific value to work */
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        color: black;
        text-align: center;
      }

      .content-link{
        position: absolute;
        top: 450px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px; /* Need a specific value to work */
        font-size: 20px;
        font-family: 'Mukta', sans-serif;
        font-weight: 300;
        cursor: pointer;
        border-bottom: black 1px solid;
        text-align: center;
        &:hover{
          transition: ease-in-out 0.3s;
          color: white;
          border-bottom: white 1px solid;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.stage3-wrapper {
  margin-top: 100px;
  padding: 50px 100px 80px;
  background-color: rgba(207, 202, 196, 0.4);

  .stage3-content-wrapper{
    margin-top: 100px;

    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;

      li{
        list-style: none;
      }
      div{
        text-align: center;
      }

      .content-title{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .content-des{
        width: 500px;
        margin: auto;
      }

      .btn-create-group{
        margin: 70px auto;
        width: 200px;
        height: 70px;
        background-color: rgba(207, 202, 196, 0.2);
        font-family: 'Mukta', sans-serif;

        &:hover{
          background-color: black;
          transition: 0.3s ease-in-out;
          color: white;
        }
      }
    }
  }
}

.stage4-wrapper{
  position: relative;
  background-image: url('../../../assets/images/tan-magazine.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  .stage4-content{

    position: absolute;
    color: white;
    top: 400px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    left: 60px;

    span{
      color: white;
    }

    button{
      width: 200px;
      height: 50px;
      font-size: 18px;

      &:hover{
        background-color: black;
        color: #D09B69;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.stage5-wrapper{
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  .stage5-title{
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
  }
}

